@model object
@using BootstrapSupport

<div class="btn-group">
    <a class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" href="#">
        Action
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        @* ReSharper disable Mvc.ActionNotResolved *@
        @{
            @Html.TryPartial("_actions", Model)
            var routevalues = Model.GetIdValue();
            <li>@Html.ActionLink("Edit", "Edit", routevalues)</li>
                        <li>@Html.ActionLink("Details", "Details", routevalues)</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Delete", "Delete", routevalues)</li>

        }
        @* ReSharper restore Mvc.ActionNotResolved *@
    </ul>
</div>


