@model object
@using BootstrapSupport
@* ReSharper disable Mvc.ActionNotResolved *@

@{
    var routevalues = Model.GetIdValue();

}

<form action="@Url.Action("Delete", routevalues)" method="post">
    
    @using (var group = Bootstrap.ButtonGroup().SetSize(ButtonGroupSize.Sm).Begin())
    {
        @group.LinkButton("", Url.Action("Edit", routevalues)).SetIcon(Icon.Edit)
        @group.LinkButton("", Url.Action("Details", routevalues)).SetIcon(Icon.Expand)

        @group.Button("", ButtonType.Submit).SetIcon(Icon.Remove).SetState(ButtonState.Danger).AddCss("delete-item")
    }
</form>

@* ReSharper restore Mvc.ActionNotResolved *@


