
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<html>
<head>
    <title>Michael's Place</title>
    @Styles.Render("~/Content/css")
</head>
<body aurelia-app>
    <script src="@Url.Content("~/spa/jspm_packages/system.js")"></script>
    <script src="@Url.Content("~/spa/config.js")"></script>
    <script>
        System.import("aurelia-bootstrapper");
    </script>
</body>
</html>
