
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<html>
<head>
    <title>Hello from Aurelia</title>
</head>
<body aurelia-app>
    <script src="@Url.Content("~/Scripts/jspm_packages/system.js")"></script>
    <script src="@Url.Content("~/Scripts/config.js")"></script>
    <script>
        System.import("aurelia-bootstrapper");
    </script>
</body>
</html>
