@using BootstrapSupport
@model MichaelsPlace.Controllers.Admin.PersonEditViewModel


@{
    ViewBag.Title = "Person Details";
    Layout = "~/Views/Shared/_ModalLayout.cshtml";
}


    <div>
        @Bootstrap.DisplayFor(m => m.Person.FirstName)

        @Bootstrap.DisplayFor(m => m.Person.LastName)

        @Bootstrap.DisplayFor(m => m.Person.EmailAddress)

        @Bootstrap.DisplayFor(m => m.Person.PhoneNumber)

      </div>





