@{
    ViewBag.Title = "Michael's Place";
}

<div class="jumbotron">
    <h1>Michael's Place App</h1>
    <p class="lead">Under development</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>This landing page is temporary</h2>
        <p>
            Once the application is deployed, this landing page will load the counseling app.
        </p>
        <p><a class="btn btn-default" href="http://localhost:8081/app/index.html">Load the app &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Administration</h2>
        <p>The complete app will include an administration UI</p>
        <p><a class="btn btn-default" href="@Url.Action("Index","Dashboard")">View admin dashboard &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Dev Tools</h2>
        <p>API documentation and other useful things are available in the DevTools dropdown when this site is running locally.</p>
    </div>
</div>